################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

_setvars.ps1
uhttps
/.vs
test/index.html
/output
CppProperties.json
version.aps
WindowsBinaries/*.pdb
*.pdb
RC*
/out/*
/out/build
